github "mapbox/MapboxGeocoder.swift" ~> 0.15
github "flitsmeister/Mapbox-directions-swift" "main"
github "mapbox/turf-swift" "v2.6.1"
github "ceeK/Solar" ~> 3.0.1
github "mapbox/mapbox-speech-swift" "v2.1.1"
