github "mapbox/MapboxGeocoder.swift" ~> 0.15
github "flitsmeister/Mapbox-directions-swift" "v0.23.1"
github "flitsmeister/turf-swift" "v0.2.2"
github "ceeK/Solar" ~> 3.0.1
github "mapbox/mapbox-speech-swift" "v2.1.1"
